<div class="password form">
    <h3 data-i18n="resetPassword"></h3>
    <input type="password" id="password" data-i18n-placeholder="placeholder.newPassword">
    <input type="password" id="confirmPassword" data-i18n-placeholder="placeholder.confirmPassword">
    <button class="btn btn-primary" id="send" data-i18n="send"></button>
    <span class="formError" data-i18n="passNotMatch" id="error"></span>
    <span class="formError" data-i18n="passwordWeak" id="weak"></span>
    <span class="formError" data-i18n="invalid-link" id="invalidLink"></span>
    <span class="formSuccess" data-i18n="Success" id="success"></span>
</div>