<div class="profile">
        <img src="/static/assets/avatar/bear.png" alt="avatar" class="avatar" id="pp1">
        <p class="username" id="player1"></p>
</div>
<body>
    <div class="container">
      <div class="player-win">
        <div class="display__result_container">
            <div data-i18n="win" class="win__pixel"></div>  
            <img src="/static/assets/settings/game.svg">
        </div>
        </div>
        <div class="player-lost">
            <div class="display__result_container">
                <div data-i18n="lose" class="lose__pixel"></div>
                <img src="/static/assets/settings/game.svg">
            </div>
        </div>
        <div class="board">
          <div class='ball'><div class="ball_effect"></div></div>
          <div class="paddle_1 paddle"></div>
          <div class="paddle_2  paddle"></div>
          <h1 class="player_1_score">0</h1>
          <h1 class="player_2_score">0</h1>
        </div>
    </div>
  </body>  
<div class="profile">
    <img src="/static/assets/avatar/bear.png" alt="avatar" class="avatar" id="pp2">
    <p class="username"id="player2"></p>
</div>