@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap');
@font-face {
    font-family: 'pixel';
    src: url('/static/assets/pixel.ttf') format('truetype');
}
body {
    font-family: 'Montserrat', sans-serif;
}

.result__title {
    font-size: 2rem;
    font-weight: bold;
    color: var(--text-color-dark);
}

.win img {
    width: 200%;
    height: 200%;
}

.winner {
    position: absolute;
    top: 80%;
    left: 40%;
    border-radius: 6px;
    padding: 15px;
    background-color: #ccc;
    font-size: large;
    font-weight: bold;
}

.local__create {
    font-weight: bold;
    color: var(--text-color);
    background-color: black;
    border-radius: 10px;
    width: 75px;
    padding: 10px;
    font-size: 15px;
    transition: 0.25s ease;
    cursor: pointer;
    border: none;
    box-shadow: var(--boxShadow, inset 0 calc(var(--borderHeight, .1rem)*-1) 0 0 rgba(0, 0, 0, .2));
}

.stop__local_game {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 5%;
    left: 90%;
    transform: translate(100%, -100%);
    font-family: 'Comfortaa', cursive;
    z-index: 101;
}

.stop__local_game i {
    scale: 4;
}

.selectPlayers,
.selectPoints {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    height: 100%;
    width: 100%;
    border-radius: 12px;
    background-color: black;
}

.selectPlayers {
    display: flex;
}

.selectPlayers__title,
.selectPoints__title {
    color: var(--text-color);
    font-size: 3rem;
    margin-bottom: 50px;
    font-family: 'pixel', sans-serif;
}

.local__values_players,
.local__values_points {
    font-weight: bold;
    color: var(--text-color);
    background-color: black;
    border-radius: 10px;
    width: 300px;
    padding: 20px;
    margin: 20px;
    font-size: 50px;
    transition: 0.25s ease;
    cursor: pointer;
    border: solid 2px var(--text-color);
    font-family: 'pixel', sans-serif;
}

.game-container {
    position: relative;
    height: calc(75vh);
    width: calc(100vh);
    margin-top: 100px;
    background-color: var(--body-color);
    border-radius: 12px;
    box-shadow: var(--boxShadow, 0 0 10px 0 rgba(0, 0, 0, 0.2));
    overflow: hidden;
}

.player-win,
.player-lost {
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1001;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    box-shadow: var(--boxShadow, 0 0 10px 0 rgba(243, 240, 240, 0.2), 0.2);
    background-color: black;
    padding: 20px;
    font-family: 'pixel', sans-serif;
}

.display__result_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 30vh;
    color: white;
    background-color: #c3dafe;
    border-radius: 12px;
    padding: 50px;
    font-size: 2rem;
}

.display__result_container img {
    height: 110%;
}

.win__pixel,
.lose__pixel {
    font-family: 'pixel', sans-serif;
    font-size: 2.5rem;
    transform: translate(0, 600%);
    transition: 3s ease-in;

    
}
.win__pixel {
    animation: colorChangeWin 2s infinite alternate;
}

.lose__pixel {
    animation: colorChangeLose 2s infinite alternate;
}

@keyframes colorChangeLose {
    from {
        color: black;
    }
    to {
        color: red;
    }
}

@keyframes colorChangeWin {
    from {
        color: rgb(0, 0, 0);
    }
    to {
        color: rgb(243, 207, 0)(255, 217, 0);
    }
}


.primaryButton {
    font-weight: bold;
    text-shadow: 1px 1px 0px rgb(47, 47, 47);
    color: white;
    height: fit-content;
    border-radius: 10px;
    font-size: 20px;
    transition: 0.25s ease;
    cursor: pointer;
    font-weight: bold;
    font-family: 'pixel', sans-serif;
    padding: 10px;
    border: none;
    box-shadow: var(--boxShadow, inset 0 calc(var(--borderHeight, .3rem)*-1) 0 0 rgba(0, 0, 0, .2));
    transform: translate(0, -400%);
}

.primaryButton:hover {
    box-shadow: none;
}

#play-again {
    padding: 15px;
    background: var(--nav-color);
}

#canvas {
    border-radius: 6px;
    height: 100%;
    width: 100%;
}

@media (max-width: 900px) {
    .game-container {
        height: 56.25vh;
        width: 75vh;
    }

    .local__settings {
        width: 50%;
        top: 15%;
        left: 25%;
        font-size: small;
    }
    
    .local__list_title {
        font-size: large;
    }
}